/* Start Global Rules */
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
}

@media screen and (max-width: 640px) {
  body,
  html {
    width: 100vw;
    overflow-x: hidden;
  }
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Cairo", sans-serif;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End Global Rules */

/*Start Special-heading */
.special-heading {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: auto;
  width: fit-content;
  transition: var(--main-transition);
  cursor: default;
}

.special-heading h1 {
  border: 2px solid black;
  width: fit-content;
  padding: 10px;
  text-transform: uppercase;
  transition: var(--main-transition);
}

.special-heading::before,
.special-heading::after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  position: absolute;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.special-heading::before {
  left: -30px;
}

.special-heading::after {
  right: -30px;
}

.special-heading h1:hover {
  background-color: var(--main-color);
  border: 2px solid transparent;
  color: white;
  transition-delay: 0.5s;
}

.special-heading:hover::before {
  z-index: -1;
  animation: left-move 0.5s linear forwards;
}

.special-heading:hover::after {
  z-index: -1;
  animation: right-move 0.5s linear forwards;
}

@keyframes left-move {
  50% {
    left: 0;
  }
  100% {
    left: 0;
    border-radius: 0;
    width: 100%;
    height: 50%;
  }
}

@keyframes right-move {
  50% {
    right: 0;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 100%;
    height: 50%;
  }
}

/*End Special-heading */

/* Start Header */
.header {
  background-color: white;
  position: relative;
  -webkit-box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
  box-shadow: 0 0 10px #ddd;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.header .logo {
  color: var(--main-color);
  font-size: 26px;
  font-weight: bold;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .header .logo {
    width: 100%;
    height: 50px;
  }
}
.header .main-nav {
  display: flex;
}
@media (max-width: 767px) {
  .header .main-nav {
    margin: auto;
  }
}
.header .main-nav > li:hover .mega-menu {
  opacity: 1;
  z-index: 100;
  top: calc(100% + 1px);
}
.header .main-nav > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  position: relative;
  color: black;
  padding: 0 30px;
  overflow: hidden;
  font-size: 18px;
  transition: var(--main-transition);
}
@media (max-width: 767px) {
  .header .main-nav > li > a {
    padding: 10px;
    font-size: 14px;
    height: 40px;
  }
}
.header .main-nav > li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  top: 0;
  left: -100%;
  transition: var(--main-transition);
}
.header .main-nav > li > a:hover {
  color: var(--main-color);
  background-color: #fafafa;
}
.header .main-nav > li > a:hover::before {
  left: 0;
}
.header .mega-menu {
  position: absolute;
  width: 100%;
  left: 0;
  padding: 30px;
  background-color: white;
  border-bottom: 3px solid var(--main-color);
  z-index: -1;
  display: flex;
  gap: 40px;
  top: calc(100% + 50px);
  opacity: 0;
  transition: top var(--main-transition), opacity var(--main-transition);
}
@media (max-width: 767px) {
  .header .mega-menu {
    flex-direction: column;
    gap: 0;
    padding: 5px;
  }
}
.header .mega-menu .image img {
  max-width: 100%;
}
@media (max-width: 991px) {
  .header .mega-menu .image {
    display: none;
  }
}
.header .mega-menu .links {
  min-width: 250px;
  flex: 1;
}
.header .mega-menu .links li {
  position: relative;
}
.header .mega-menu .links li:not(:last-child) {
  border-bottom: 1px solid #e9e6e6;
}
@media (max-width: 767px) {
  .header .mega-menu .links:first-of-type li:last-child {
    border-bottom: 1px solid #e9e6e6;
  }
}
.header .mega-menu .links li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #fafafa;
  z-index: -1;
  transition: var(--main-transition);
}
.header .mega-menu .links li:hover::before {
  width: 100%;
}
.header .mega-menu .links li a {
  color: var(--main-color);
  padding: 15px;
  display: block;
  font-size: 18px;
  font-weight: bold;
}
.header .mega-menu .links li a i {
  margin-right: 10px;
}
/* End Header */

/* Start Landing */
.landing {
  position: relative;
}

.landing::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #ececec;
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: top left;
}

.landing .container {
  min-height: calc(100vh - 72px);
  display: flex;
  align-items: center;
  position: relative;
}

.landing .container .text {
  margin-bottom: 120px;
}

@media (max-width: 767px) {
  .landing .container .text {
    text-align: center;
  }
}

.landing .container .text h2 {
  font-size: 40px;
}

.landing .container .text p {
  font-size: 25px;
  line-height: 1.4;
  color: #777;
  margin-top: -25px;
}

.landing .container .img {
  margin-bottom: 120px;
}

@media (max-width: 767px) {
  .landing .container .img {
    display: none;
  }
}

.landing .container .img img {
  width: 600px;
  position: relative;
  animation: up-and-down 5s linear infinite;
}
@keyframes up-and-down {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -30px;
  }
}

.landing .container .arrow {
  color: var(--main-color);
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s;
}

@media (max-width: 767px) {
  .landing .container .arrow {
    bottom: -50px;
  }
}

.landing .container .arrow i {
  animation: bouncing 1.5s infinite;
}

@keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40%,
  60% {
    transform: translateY(-15px);
  }
}
/* End Landing */

/* Start Articles */
.art {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}
.art .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
  margin-top: 60px;
}

.art .container .box {
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  background-color: white;
  border-radius: 6px;
  transition: transform var(--main-transition), box-shadow var(--main-transition);
}

.art .container .box:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}

.art .container .box img {
  width: 100%;
  max-width: 100%;
}

.art .container .box .caption {
  padding: 20px;
}

.art .container .box .caption p {
  color: #777;
  line-height: 1.4;
  position: relative;
}

.art .container .box .caption p::after {
  content: "";
  position: absolute;
  height: 1px;
  width: calc(100% + 40px);
  background: #ccc;
  bottom: -30px;
  left: -20px;
}

.art .container .box .button {
  display: flex;
}

.art .container .box .button button {
  margin: 20px;
  background: none;
  border: none;
  color: var(--main-color);
  font-weight: bold;
  position: relative;
  cursor: pointer;
}

.art .container .box .button i {
  color: var(--main-color);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  justify-items: flex-end;
  margin-left: auto;
  margin-right: 20px;
}
.art .container .box:hover .button i {
  animation: moving-arrow 0.6s linear infinite;
}

@keyframes moving-arrow {
  100% {
    transform: translateX(10px);
  }
}
/* End Articles */

/* Start Gallery */
.gallery {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: var(--section-background);
  z-index: 1;
}

.gallery .container {
  background-color: #ececec;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  margin-top: 60px;
}

.gallery .container .box {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 15px;
}

.gallery .container .box .img:hover img {
  transform: rotate(5deg) scale(1.1);
}

.gallery .container .box .img {
  overflow: hidden;
  transition: var(--main-transition);
  width: 350px;
}

.gallery .container .box .img img {
  transition: var(--main-transition);
  max-width: 100%;
}
/* End Gallery */

/* Start Features */
.features {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}

.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  margin-top: 60px;
  margin-bottom: 100px;
}

.features .container .box {
  border: 1px solid #ccc;
  text-align: center;
  position: relative;
}

.features .container .box .image-holder {
  position: relative;
  overflow: hidden;
}

.features .container .box .image-holder::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: -1px;
  left: 0;
}

.features .container .quality .image-holder::before {
  background-color: rgb(244 64 54 / 60%);
}
.features .container .time .image-holder::before {
  background-color: rgb(0 150 136 / 60%);
}
.features .container .passion .image-holder::before {
  background-color: rgb(3 169 244 / 60%);
}

.features .container .box .image-holder::after {
  content: "";
  position: absolute;
  border-color: transparent transparent white transparent;
  border-style: solid;
  border-width: 0px 0px 170px 500px;
  bottom: 0;
  right: 0;
}

.features .container .box img {
  max-width: 100%;
}

.features .container .box h1 {
  font-size: 40px;
  position: relative;
  width: fit-content;
  margin: 0 auto 30px;
}

.features .container .box h1::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 15px;
  height: 5px;
  width: calc(100% - 30px);
}

.features .time h1::after {
  background-color: #009688;
}

.features .quality h1::after {
  background-color: #f44036;
}

.features .passion h1::after {
  background-color: #03a9f4;
}

.features .container .box p {
  line-height: 2;
  padding: 20px;
  font-size: 22px;
  color: #777;
}
.features .container .box a {
  display: block;
  border: 3px solid transparent;
  width: fit-content;
  margin: 0 auto 30px;
  font-weight: bold;
  font-size: 22px;
  padding: 10px 30px;
  border-radius: 6px;
  transition: var(--main-transition);
  cursor: pointer;
}

.features .container .quality a {
  border-color: #f44036;
  color: #f44036;
}

.features .container .quality:hover a {
  background-color: #f44036;
  color: white;
}

.features .container .time a {
  border-color: #009688;
  color: #009688;
}

.features .container .time:hover a {
  background-color: #009688;
  color: white;
}

.features .container .passion a {
  border-color: #03a9f4;
  color: #03a9f4;
}

.features .container .passion:hover a {
  background-color: #03a9f4;
  color: white;
}
/* End Features */
/* Start Testimonials */
.test {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--section-background);
  z-index: 1;
  position: relative;
}
.test .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  margin-top: 60px;
  text-align: center;
}

.test .container .avatar {
  padding: 20px;
  background-color: white;
  box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
  border-radius: 6px;
  position: relative;
  text-align: left;
}

.test .container .avatar img {
  position: absolute;
  right: -10px;
  top: -50px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid var(--section-background);
}

.test .container .avatar h3 {
  margin: 0 0 10px;
}

.test .container .avatar span {
  color: #777;
}

.test .container .avatar .rate {
  margin-top: 10px;
}

.test .container .avatar .rate .filled {
  color: #ffc107;
}

.test .container .avatar p {
  color: #777;
  line-height: 1.4;
}

/* End Testimonials */

/* Start Team Members */
.team {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}

.team .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  margin-top: 60px;
  margin-bottom: 100px;
}

.team .container .box {
  position: relative;
}

.team .container .box::before,
.team .container .box::after {
  content: "";
  background-color: #f3f3f3;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  border-radius: 10px;
  transition: var(--main-transition);
  width: calc(100% - 60px);
  z-index: -2;
}

.team .container .box::after {
  width: 0;
}

.team .box:hover::after {
  z-index: -1;
  background-color: #e4e4e4;
  width: calc(100% - 60px);
}

.team .container .box .data {
  display: flex;
  align-items: center;
  padding-top: 60px;
  width: 100%;
}

.team .container .box .data .icons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #777;
  transition: var(--main-transition);
  gap: 30px;
  align-items: center;
  width: 60px;
}

.team .container .box .data .icons i:hover {
  color: var(--main-color);
  cursor: pointer;
  transition: var(--main-transition);
}

.team .container .box img {
  width: calc(100% - 60px);
  border-radius: 10px;
  transition: var(--main-transition);
}

.team .container .box:hover img {
  filter: grayscale(100%);
}

.team .container .box .caption {
  margin-left: 80px;
}

.team .container .box .caption h3 {
  color: var(--main-color);
  font-weight: bold;
  font-size: 22px;
}

.team .container .box:hover .caption h3 {
  color: #777;
}

.team .container .box .caption p {
  margin-top: -12px;
}
/* End Team Members */

/* Start Services */
.services {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--section-background);
  z-index: 1;
  position: relative;
}

.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  margin-top: 60px;
  margin-bottom: 100px;
}

.services .container .box {
  align-content: center;
  background-color: white;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  transition: var(--main-transition);
  position: relative;
  counter-increment: services;
}

.services .container .box:hover {
  transform: translateY(-10px);
}

.services .container .box::before {
  content: "";
  position: absolute;
  border-top: 3px solid var(--main-color);
  transition: var(--main-transition);
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
}

.services .container .box:hover:before {
  width: 100%;
}

.services .container .box .logo {
  margin: 30px auto 20px;
  display: block;
  text-align: center;
  color: #d5d5d5;
}

.services .container .box .logo p {
  color: var(--main-color);
  font-weight: bold;
  font-size: 25px;
}

.services .container .box .foot {
  height: 50px;
  background-color: #eee;
  position: relative;
}

.services .container .box .foot::before {
  content: "0" counter(services);
  position: absolute;
  background-color: var(--main-color);
  color: white;
  left: 0;
  top: 0;
  height: 100%;
  width: 80px;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
}

.services .container .box .foot::after {
  content: "";
  position: absolute;
  background-color: #d5d5d5;
  top: 0;
  left: 80px;
  width: 50px;
  height: calc(100% + 0.4px);
  transform: skewX(-30deg);
}

.services .container .box .foot a {
  position: absolute;
  right: 0;
  margin-right: 18px;
  margin-top: 15px;
  color: var(--main-color-alt);
}

/* End Services */

/* Start Our Skills */
.skills {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}

.skills .container {
  display: flex;
  margin-top: 60px;
  margin-bottom: 100px;
}

@media (max-width: 767px) {
  .skills .container .img-holder {
    display: none;
  }
}

.skills .container .prog-holder {
  display: block;
  width: 100%;
}

.skills .container .prog-holder .prog {
  background-color: #eee;
  height: 30px;
  position: relative;
}

.skills .container .prog-holder .prog span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--main-color);
}

.skills .container .prog-holder h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skills .container .prog-holder h3 span {
  font-size: 12px;
  border: 1px solid #ccc;
  padding: 2px 5px;
  border-radius: 5px;
  color: var(--main-color);
}
/* End Our Skills */

/* Start How It Works */
.how {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--section-background);
  z-index: 1;
  position: relative;
}

.how .container {
  display: flex;
  margin-top: 150px;
  margin-bottom: 100px;
  gap: 125px;
}

@media (max-width: 767px) {
  .how .container {
    gap: 0;
  }
}

.how .container .box-holder {
  margin-top: -100px;
}

.how .container .box-holder .box {
  background-color: #f6f5f5;
  border: 1px solid white;
  margin-bottom: 30px;
  padding: 30px 30px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

@media (max-width: 767px) {
  .how .container .box-holder .box {
    flex-direction: column;
    text-align: center;
  }
}

.how .container .box-holder .box::before {
  content: "";
  left: 50%;
  top: 50%;
  position: absolute;
  width: 0;
  height: 0;
  transform: translate(-50%, -50%);
  background-color: #ededed;
  z-index: -1;
  transition: var(--main-transition);
}

.how .container .box-holder .box:hover:before {
  width: 100%;
  height: 100%;
}

.how .container .box-holder .box h3 {
  font-weight: bold;
  font-size: 22px;
  margin-top: -2px;
}

.how .container .box-holder .box p {
  color: #777;
  font-size: 18px;
  line-height: 1.6;
}

.how .container .box-holder .box img {
  width: 70px;
  margin-right: 30px;
}

@media (max-width: 767px) {
  .how .container .img-holder img {
    display: none;
  }
}
/* End How It Works */

/* Start Latest Events */
.events {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}

.events .container {
  display: flex;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 100px;
  gap: 30px;
}

.events .container .img-holder img {
  width: 450px;
}

.events .container .img-holder img:nth-last-of-type(1) {
  width: 200px;
  position: absolute;
  left: 0;
  bottom: 150px;
}

.events .container .img-holder img:nth-last-of-type(2) {
  width: 200px;
  position: absolute;
  right: 0;
  top: 150px;
}

@media (max-width: 767px) {
  .events .container .img-holder img,
  .events .container .img-holder img:nth-last-of-type(1),
  .events .container .img-holder img:nth-last-of-type(2) {
    display: none;
  }
}

.events .container .box-holder .timer {
  display: flex;
  justify-content: center;
}

@media (max-width: 767px) {
  .events .container .box-holder .timer {
    margin-left: -22px;
  }
}

.events .container .box-holder .timer .box {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-right: 10px;
  text-align: center;
  border: 1px solid #d4d4d4;
  height: 100px;
  width: 75px;
  position: relative;
  border-radius: 6px;
}

.events .container .box-holder .timer .box p {
  margin-top: 15px;
  font-weight: bold;
  font-size: 32px;
  color: var(--main-color);
}

.events .container .box-holder .timer .box span {
  margin-top: -20px;
  margin-bottom: 10px;
  border-top: 1px solid #d4d4d4;
  padding-top: 10px;
}

.events .container .box-holder .caption {
  text-align: center;
  margin-top: 50px;
}

@media (max-width: 767px) {
  .events .container .box-holder .caption {
    margin-left: -22px;
  }
}

.events .container .box-holder .caption h2 {
  font-size: 32px;
}

.events .container .box-holder .caption p {
  color: #777;
  font-size: 20px;
  line-height: 1.6;
}

.events .form {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #f6f5f5;
  width: fit-content;
  margin: auto;
  padding: 25px 40px;
  border-radius: 40px;
}

.events .form input {
  width: 400px;
  height: 50px;
  border-radius: 40px;
  border-color: transparent;
  padding: 0 10px;
}

.events .form input:focus {
  outline: none;
}

.events .form a {
  background-color: var(--main-color);
  padding: 20px 25px;
  border-radius: 40px;
  margin-left: 15px;
  color: white;
  font-weight: bold;
}

@media (max-width: 767px) {
  .events .form input {
    width: fit-content;
  }
}

/* End Latest Events */

/* Start Pricing Plans */
.pricing {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--section-background);
  z-index: 1;
  position: relative;
}

.pricing .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 100px;
}

.pricing .background .dots-1 {
  width: 200px;
  position: absolute;
  left: 0;
  bottom: 300px;
  z-index: -3;
}

.pricing .background .dots-2 {
  width: 200px;
  position: absolute;
  right: 0;
  top: 250px;
  z-index: -3;
}

.pricing .container .box {
  background-color: white;
  transition: var(--main-transition);
}

.pricing .container .box:hover {
  background-color: #f6f6f6;
}

.pricing .container .box:nth-last-of-type(2) {
  margin-top: -30px;
  margin-bottom: 30px;
  position: relative;
}

@media (max-width: 767px) {
  .pricing .container .box:nth-last-of-type(2) {
    margin: 0;
  }
}

.pricing .container .box .most {
  position: absolute;
  writing-mode: vertical-rl;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  padding: 10px 10px 35px 10px;
  font-size: 18px;
  right: 20px;
  width: 20px;
  margin-top: -10px;
}

.pricing .container .box .most::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-color: transparent transparent white;
  border-width: 20px;
}

.pricing .container .box .title {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 30px;
  margin-top: 10px;
  padding: 20px;
}

.pricing .container .box h1 {
  color: var(--main-color);
  font-size: 60px;
  margin-top: 25px;
}

.pricing .container .box h1 span {
  display: block;
  font-size: 15px;
  color: #777;
  font-weight: normal;
  margin-top: 10px;
}

.pricing .container .box .price img {
  width: 75px;
}

.pricing .container .box .spec p {
  text-align: left;
  margin-bottom: 30px;
  border-top: 1px solid #ccc;
  padding-left: 10px;
  padding-top: 20px;
}

.pricing .container .box .spec p::before {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  margin-right: 10px;
  font-weight: bold;
  color: var(--main-color);
}

.pricing .container .box .link {
  position: relative;
  margin-bottom: 150px;
}

.pricing .container .box .link a {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -75px;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  width: fit-content;
  margin: auto;
  padding: 15px 25px;
  border-radius: 5px;
  font-weight: bold;
  transition: var(--main-transition);
}

.pricing .container .box:hover .link a {
  background-color: var(--main-color);
  color: white;
  border: none;
}
/* End Pricing Plans */

/* Start Top Videos */
.videos {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}

.videos .container {
  margin-top: 60px;
  margin-bottom: 100px;
}

.videos .holder {
  display: flex;
  justify-content: center;
  background-color: var(--section-background);
  border: 1px solid #ddd;
}

@media (max-width: 991px) {
  .videos .holder {
    flex-direction: column;
  }
}

.videos .holder .list {
  min-width: 300px;
  background-color: white;
}

.videos .holder .list .name {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #f4f4f4;
  font-weight: bold;
}

.videos .holder .list ul li {
  padding: 20px;
  border-top: 1px solid var(--section-background);
  cursor: pointer;
  transition: var(--main-transition);
}

.videos .holder .list ul li:hover {
  background-color: #fafafa;
  color: var(--main-color);
}

.videos .holder .list ul li span {
  display: block;
  margin-top: 10px;
  color: #777;
}

.videos .holder .preview {
  background-color: #e2e2e2;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.videos .holder .preview img {
  max-width: 100%;
}

.videos .holder .preview .info {
  padding: 20px;
  background-color: white;
  margin-top: 10px;
}

/* End Top Videos */

/* Start Stats */
.stats {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-image: url("../imgs/stats.jpg");
  background-size: cover;
  min-height: 300px;
}

.stats::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255 255 255 / 95%);
}

.stats h2 {
  font-weight: bold;
  font-size: 40px;
  width: fit-content;
  margin: 0 auto 50px;
  position: relative;
}

.stats .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.stats .box {
  background-color: white;
  padding: 30px 15px;
  text-align: center;
  position: relative;
  opacity: 0.8;
  transition: var(--main-transition);
}

.stats .box::before,
.stats .box::after {
  content: "";
  position: absolute;
  width: 2px;
  background-color: var(--main-color);
  transition: 1s;
  height: 0;
}

.stats .box::before {
  top: 0;
  right: 0;
}

.stats .box::after {
  left: 0;
  bottom: 0;
}

.stats .box:hover {
  opacity: 1;
}

.stats .box:hover::before,
.stats .box:hover::after {
  height: 100%;
}

.stats .box .number {
  display: block;
  font-size: 50px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.stats .box .text {
  color: var(--main-color);
  font-style: italic;
  font-size: 20px;
  font-weight: bold;
}

/* End Stats */

/* Start Discount */
.discount {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 50px;
  margin-bottom: -50px;
}

@media (max-width: 767px) {
  .discount {
    margin-bottom: 0;
  }
}

.discount .image {
  background-image: url(../imgs/discount-background1.jpg);
  background-size: cover;
  color: white;
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  animation: change-background 10s linear infinite;
}

.discount .image::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(23 135 224 / 97%);
  z-index: -1;
}

@media (max-width: 991px) {
  .discount .image {
    flex-basis: 100%;
  }
}

.discount .form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
}

@media (max-width: 991px) {
  .discount .form {
    flex-basis: 100%;
  }
}

.discount .form .input {
  display: block;
  width: 100%;
  margin-bottom: 25px;
  padding: 15px;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: #f9f9f9;
  caret-color: var(--main-color);
}

.discount .form textarea.input {
  resize: none;
  height: 200px;
}

.discount .form .input:focus {
  outline: none;
}

.discount .form [type="submit"] {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  font-size: 20px;
  border: none;
  cursor: pointer;
  transition: var(--main-transition);
}

.discount .form [type="submit"]:hover {
  background-color: var(--main-color-alt);
}

.discount .content {
  text-align: center;
  padding: 0 20px;
}

.discount .content h2 {
  font-size: 40px;
  letter-spacing: -2px;
}

.discount .content p {
  line-height: 1.6;
  font-size: 18px;
  max-width: 500px;
}

.discount .content img {
  width: 300px;
  max-width: 100%;
}

/* End Discount */

/* Start Footer */
.footer {
  background-color: #191919;
  padding: 70px 0 0;
}

@media (max-width: 767px) {
  .footer {
    text-align: center;
  }
}

.footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}

.footer .box h3 {
  color: white;
  font-size: 40px;
  margin: 0 0 20px;
}

.footer .box .social {
  display: flex;
}

@media (max-width: 767px) {
  .footer .box .social {
    justify-content: center;
  }
}

.footer .box .social li {
  margin-right: 10px;
}

.footer .box .social li a {
  background-color: #313131;
  color: #b9b9b9;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
  transition: var(--main-transition);
}

.footer .box .social .facebook:hover {
  background-color: #1877f2;
}

.footer .box .social .twitter:hover {
  background-color: #1da1f2;
}

.footer .box .social .youtube:hover {
  background-color: #ff0000;
}

.footer .box .text {
  line-height: 2;
  color: #b9b9b9;
}

.footer .box .links li {
  padding: 15px 0;
  transition: var(--main-transition);
}

.footer .box .links li:not(:last-child) {
  border-bottom: 1px solid #444;
}

.footer .box .links li:hover {
  padding-left: 10px;
}

.footer .box .links li:hover a {
  color: white;
}

.footer .box .links li a {
  color: #b9b9b9;
  transition: var(--main-transition);
}

.footer .box .links li a::before {
  font-family: "Font Awesome 5 Free";
  content: "\F101";
  font-weight: 900;
  margin-right: 10px;
  color: var(--main-color);
}

.footer .box .line {
  display: flex;
  align-items: center;
  color: #b9b9b9;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .footer .box .line {
    flex-direction: column;
  }
}

.footer .box .line i {
  font-size: 25px;
  color: var(--main-color);
  margin-right: 10px;
}

@media (max-width: 767px) {
  .footer .box .line i {
    margin-right: 0;
    margin-bottom: 15px;
  }
}

.footer .box .line .info {
  line-height: 1.7;
  flex: 1;
}

.footer .box .line .info span {
  display: block;
}

.footer .footer-gallery img {
  width: 78px;
  border: 3px solid white;
  margin: 2px;
}

.footer .copyright {
  padding: 25px 0;
  text-align: center;
  color: white;
  margin: 50px 0 0;
  border-top: 1px solid #444;
}
/* End Footer */
